@page
@model RazorClassLibrary1.Pages.TestModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<body>
    <h1>RazorClassLibrary1/Pages/Test</h1>
    <p>
        @DateTime.Now
    </p>
    <p>
        @Model.PropertyValue
    </p>
    <p>
        @Model.Assembly.Location
    </p>
    <p>
        @Json.Serialize(RouteData)
    </p>
    <p>
        <partial name="_PartialView" model="Model.Assembly.FullName" />
    </p>
    <a asp-page-handler="DateTime">Get DateTime</a>
</body>
</html>
